body{
    background: rgb(0, 204, 255);
    background-image: linear-gradient(to top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-attachment: fixed;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

form{
    width: 400px;
    margin: 20vh auto 0 auto;    
    background-color: whitesmoke;
    border-radius: 7px;
    padding: 30px;
}

h1{
    text-align: center;
    color: #aa0784;
}

#form button{
    background-color: #00bf72;
    color: white;
    border: 1px solid #00bf72;
    padding: 10px;
    border-radius: 7px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 7px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 204, 255, 0.945)16, 16, 136);
}

.input-group input:focus{
    outline: 0;
}

.error{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}

.input-group.success input{
    background-color: green;
}

.input-group.error input{
    border-color: red;
}